* {
  color: #ececec;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #121212;
    display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
